@use "../../../../assets/theme/_var.scss" as *;

.cryptosec {
  position: relative;
  height: 100vh;
  padding: 20rem 0;
  overflow: hidden;
  background: $yellowGradientCard;

  &_left {
    text-align: center;

    &_scanner {
      margin-top: 3rem;
      position: relative;
      padding-top: 3rem;

     

      img {
        position: relative;
        z-index: 2;
        height: auto;
        max-width: 100%;
      }
    }
  }

  &_right {
    position: relative;

    &_scroll {
      max-height: 52rem;
      overflow-y: auto;
      padding-right: 1rem;

      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }

    &_tile {
      padding: 2rem;
      border-radius: 23px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      margin-bottom: 2rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: 23px;
        background: linear-gradient(
          124deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0.05) 55%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }

      &_info {
        h4 {
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1.5rem;
          color: $greyClr;
        }
      }
    }

    .btn-style {
      margin: 3rem auto 0;
      display: block;
      max-width: 23.7rem;
    }
  }
}

@media (max-width: 1199px) {

  .cryptosec {
    height: auto;
    overflow: visible;
    height: auto;
    padding: 7rem 0;
    .cryptosec_left {
      margin-bottom: 5rem;
    }

    &_right_scroll {
      max-height: none;
      overflow: visible;
    }
  }
}