@use '../../../assets/theme/_var.scss' as *;

.login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
    background: #070000;
    padding: 5rem 1.5rem;
    .wallet-adapter-dropdown {
        width: 100%;
        max-width: 100%;
        > .wallet-adapter-button {
            min-height: 5.4rem;
            width: 100%;
        max-width: 100%;
        border-radius: 2rem;
        margin-bottom: 1rem;

  @media (max-width: 1399px) {
    min-height: 4.5rem;
    font-size: 1.4rem;
    padding: 0.6rem 1.5rem;
  }
        }
    }

    .login_container {
        padding: 4rem 3rem;
        border-radius: 16px;
        width: 100%;
        max-width: 50rem;
        position: relative;
        z-index: 1;
        box-shadow: 0 .2rem 1.7rem rgba($yellowClr, 0.4);

        @media (max-width:575px) {
            padding: 2rem 1rem;
        }

        .login_logo {
            margin-bottom: 3rem;
            text-align: center;

            img {
                height: auto;
                margin-bottom: 2rem;
            }
        }
        .copy_btn {
            svg {
                path {
                    fill: $black;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: $yellowClr;
                    }
                }
            }
        }
    }
}