@use "../../../../assets/theme/_var.scss" as *;

.security_reimagined {
    // padding: 7rem 0 0;

    // @media (max-width: 1679px) {
    //     padding: 4rem 0 0;
    // }

    // @media (max-width: 767px) {
    //     padding: 3rem 0 0;
    // }

    &_in {
        background-image: url("../../../../assets/images/security-reimagine-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 16.8rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1679px) {
            padding: 10rem 0;
        }

        @media (max-width: 767px) {
            padding: 3rem 0;
            background-position: 40px 190px;
            background-size: 300px;
        }

        .common_heading {
            margin-bottom: 3rem !important;
            max-width: 120rem;
        }

        .btn-style {
            max-width: 19.7rem;
            width: 100%;
            padding-inline: 2rem;

            @media (max-width:1399px) {
                padding-inline: 1.5rem;
                max-width: max-content;
            }
        }

       p{
        max-width: 100rem;
        margin: 0 auto;
        margin: 3rem auto;
        text-align: center;
       }
    }
}