@use "../../../assets/theme/_var.scss" as *;

.error {
  text-align: center;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;
  h1 {
    color: $greenClr;
    font-weight: 900;
  }
  h4 {
    color: $lightYellow;
    font-weight: 700;
  }
  .btn-style {
    margin-top: 2rem;
  }
}
