@use "../../../../assets/theme/_var.scss" as *;

.banner {
  position: relative;
  padding: 8.8rem 0 10rem;
  background-size: cover;
  z-index: 1;

  @media (max-width: 1679px) {
    padding: 8rem 0;
  }

  @media (max-width: 1499px) {
    padding: 9rem 0;
  }

  @media (max-width: 1199px) {
    padding: 8rem 0;
  }

  @media (max-width: 767px) {
    padding: 5rem 0;
  }

  &_inner {
    @media (max-width: 575px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    h1 {
      color: $white;
      font-weight: 700;
      margin: 0 auto;
      text-align: center;
      font-size: 7rem;
      margin-bottom: 3rem;
      text-transform: capitalize;
      span {
        color: $greenClr;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9.6rem;
        gap: 1rem;
        img {
          object-fit: contain;
          max-width: 7rem;
          height: auto;
          width: 100%;
        }
      }

      @media (max-width: 1499px) {
        font-size: 4rem;
        span {
          font-size: 6rem;
        }
      }

      @media (max-width: 767px) {
        font-size: 3rem;
        span {
          font-size: 5rem;
        }
      }

      @media (max-width: 575px) {
        font-size: 2.8rem;
        span {
          font-size: 4.8rem;
        }
      }
    }

    .banner_content {

      @media (max-width: 575px) {
        flex-direction: column;
        align-items: center;
      }

      &_in {
        margin-top: 2rem;
        width: 100%;
        text-align: center;

        @media (max-width: 1679px) {
          margin-top: 0;
        }
        @media (max-width: 767px) {
          margin-bottom: 5rem;
        }
        @media (max-width: 575px) {
          gap: 1.6rem;
          align-items: center;
        }

        .banner-btn-anime {
          margin-top: 2rem;
          max-width: 25rem;
          width: 100%;
          margin-top: 3rem;
          @media (max-width: 1399px) {
            max-width: max-content;
          }
        }
        p {
          font-weight: 400;
          font-size: 1.8rem;
          color: $greyClr;

          @media (max-width: 1679px) {
            font-size: 1.6rem;
          }
            @media (max-width: 575px) {
            text-align: center;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}