@use '../../../../assets/theme/_var.scss' as *;

.community {
    position: relative;
    padding:0 0 10rem;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 88%;
    background-position: top center;
    text-align: center;

    


    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -15rem;

        h2 {
            color: $white;
            text-align: center;
        }

        p {
            max-width: 134rem;
            line-height: 4.2rem;
            text-align: center;
            color: $greyClr;

            @media (max-width:1199px) {
                line-height: 140%;

                br {
                    display: none;
                }
            }
        }

        .btn-style {
            max-width: 30rem;
            width: 100%;
            padding-inline: 2rem;
            margin-top: 2rem;

            @media (max-width:1399px) {
                max-width: max-content;
                padding: 0.6rem 1.5rem;
                margin-top: 1.4rem;
            }
        }
        @media (max-width:767px) {
            margin-top: -10%;
        }
    }

}