@use "../../../assets/theme/_var.scss" as *;

.commonModal {
  .modal {
    &-dialog {
      border-radius: 0.8rem;

      @media (max-width:575px) {
        padding-inline: 1.5rem;
      }
    }

    &-content {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 1.6rem;
      width: 100%;
      max-width: 40rem;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      border: 1px solid rgba($grey76747B, 0.5);
      background-color: $black7;
      backdrop-filter: blur(2.5rem);
      color: $black;
      padding: 1rem;
    }

    &-header {
      border-bottom: none;

      .modal-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
      }

      .custom_close_btn {
        padding: 0;
        border: transparent;
        background: transparent;
      }

      h4 {
        font-size: 1.6rem;
        font-weight: 600;
        color: $white;

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }
      }

      .btn-close {
        opacity: 1;
        background-size: 1.2rem;
        filter: invert(1);

        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
    }
  }
}