@use '../../../assets/theme/_var.scss' as *;
.breadcrumb {
  background: transparent;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .breadcrumb-item {
    color: $white; 
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    transition: color 0.3s ease;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1.8rem;
      transition: color 0.3s ease;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    &.active {
      color: $yellowFED400;
    }

    +.breadcrumb-item::before {
      content: ">"; 
      color: $white;
      padding: 0 8px;
      opacity: 0.8;
    }
  }
}